Checks: |
  *,
  -altera-*,
  -boost-use-ranges,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  -bugprone-multi-level-implicit-pointer-conversion,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-msc54-cpp,
  -cert-sig30-c,
  -clang-analyzer-security.insecureAPI.strcpy,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-to-enum,
  -darwin-*,
  -fuchsia-*,
  -google-readability-braces-around-statements,
  -google-readability-casting,
  -google-readability-todo,
  -hicpp-braces-around-statements,
  -hicpp-no-assembler,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-*,
  -modernize-macro-to-enum,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-math-missing-parentheses,
  -zircon-*

CheckOptions:
  - key: readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: true

    # Allow all integers up to 15 and multiples of 8 up to 56
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: 1;3;5;6;7;9;10;11;12;13;14;15;24;40;48;56

  # log-base.h is fine to include indirectly via log.h
  # util-macros.h is fine to include indirectly via util.h
  #
  # asm-generic/ is something that should definitely be included indirectly, we run into it on SO_ constants for example
  # bits/ is something that should definitely be included indirectly, we run into it on struct iovec for example
  #
  # curl/curlver.h is an internal header of libcurl
  # curl/easy.h is an internal header of libcurl
  # curl/multi.h is an internal header of libcurl
  # curl/system.h is an internal header of libcurl
  # openssl/prov_ssl.h is an internal header of OpenSSL
  # openssl/types.h is an internal header of OpenSSL
  # pcap/dlt.h is an internal header of libpcap
  # uv/* are internal headers of libuv
  # features.h is an internal header of glibc (see feature_test_macros(7))
  # luaconf.h is an internal header of lua
  # zconf.h is an internal header of zlib
  - key: misc-include-cleaner.IgnoreHeaders
    value: /log-base\.h;/util-macros\.h;/asm-generic/.*;/bits/.*;/curl/curlver\.h;/curl/easy\.h;/curl/multi\.h;/curl/system\.h;/openssl/prov_ssl\.h;/openssl/types\.h;/pcap/dlt\.h;/uv/.*;/features\.h;/luaconf\.h;/zconf\.h

# Emit diagnostics from all non-system header files as well.
HeaderFilterRegex: '.*'
